packages:
  yum:
    gcc: []
    httpd24-devel: []

commands:
  01_download_mod_wsgi:
    command: "wget https://github.com/GrahamDumpleton/mod_wsgi/archive/refs/tags/4.9.4.tar.gz -O /tmp/mod_wsgi-4.9.4.tar.gz"
  02_extract_mod_wsgi:
    command: "tar xzf /tmp/mod_wsgi-4.9.4.tar.gz -C /tmp/"
  03_configure_mod_wsgi:
    command: "cd /tmp/mod_wsgi-4.9.4 && ./configure --with-python=/usr/bin/python3.11"
  04_make_mod_wsgi:
    command: "cd /tmp/mod_wsgi-4.9.4 && make"
  05_install_mod_wsgi:
    command: "cd /tmp/mod_wsgi-4.9.4 && make install"
  06_cleanup:
    command: "rm -rf /tmp/mod_wsgi-4.9.4 /tmp/mod_wsgi-4.9.4.tar.gz"

files:
  "/etc/httpd/conf.modules.d/10-wsgi.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      LoadModule wsgi_module modules/mod_wsgi.so

container_commands:
  01_reload_apache:
    command: "systemctl reload httpd"
    ignoreErrors: true