packages:
  yum:
    certbot: []

commands:
  01_stop_nginx:
    command: "service nginx stop"
  02_get_certificate:
    command: "certbot certonly --standalone -d dl4.xyz --non-interactive --agree-tos --email bmejia220@gmail.com"
  03_start_nginx:
    command: "service nginx start"

files:
  "/etc/cron.d/certbot-renew":
    mode: "000644"
    owner: root
    group: root
    content: |
      0 0,12 * * * root python -c 'import random; import time; time.sleep(random.random() * 3600)' && certbot renew