packages:
  yum:
    python3-devel: []
    gcc: []

commands:
  01_create_venv:
    command: "python3 -m venv /var/app/staging/venv"
  02_activate_venv:
    command: "source /var/app/staging/venv/bin/activate"
  03_install_dependencies:
    command: "pip install -r /var/app/staging/requirements.txt"
  04_pip_upgrade:
    command: "/var/app/staging/venv/bin/pip install --upgrade pip"