packages:
  yum:
    mod24_ssl : []
    
files:
  /etc/httpd/conf.d/ssl.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      LoadModule wsgi_module modules/mod_wsgi.so
      WSGIPythonHome /opt/python/run/baselinenv
      WSGISocketPrefix run/wsgi
      WSGIRestrictEmbedded On
      Listen 443
      <VirtualHost *:443>
        SSLEngine on
        SSLCertificateFile "/etc/pki/tls/certs/server.crt"
        SSLCertificateKeyFile "/etc/pki/tls/certs/server.key"
        
        Alias /static/ /opt/python/current/app/static/
        <Directory /opt/python/current/app/static>
        Order allow,deny
        Allow from all
        </Directory>
        
        WSGIScriptAlias / /opt/python/current/app/application.py
        
        <Directory /opt/python/current/app>
        Require all granted
        </Directory>
        
        WSGIDaemonProcess wsgi-ssl processes=1 threads=15 display-name=%{GROUP} \
          python-path=/opt/python/current/app \
          python-home=/opt/python/run/venv \
          home=/opt/python/current/app \
          user=wsgi \
          group=wsgi
        WSGIProcessGroup wsgi-ssl
        
      </VirtualHost>
      
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDvTCCAqWgAwIBAgIUIPBfQr/JhOXgY955YkCLSq9w9ikwDQYJKoZIhvcNAQEL
      BQAwgYYxCzAJBgNVBAYTAlVTMREwDwYDVQQIDAhOZXcgWW9yazERMA8GA1UEBwwI
      TmV3IFlvcmsxGzAZBgNVBAoMEkRpZ2l0YWxDcmVhdGlvbnNDbzEQMA4GA1UEAwwH
      ZGw0Lnh5ejEiMCAGCSqGSIb3DQEJARYTYm1lamlhMjIwQGdtYWlsLmNvbTAeFw0y
      NDA4MTgwNDU2NTdaFw0yNTA4MTgwNDU2NTdaMIGGMQswCQYDVQQGEwJVUzERMA8G
      A1UECAwITmV3IFlvcmsxETAPBgNVBAcMCE5ldyBZb3JrMRswGQYDVQQKDBJEaWdp
      dGFsQ3JlYXRpb25zQ28xEDAOBgNVBAMMB2RsNC54eXoxIjAgBgkqhkiG9w0BCQEW
      E2JtZWppYTIyMEBnbWFpbC5jb20wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEK
      AoIBAQCwKNPug7OvdVdGHlVqeroLfd5Icix0ugpd/7wslJK4Y1Qk3bHG76daJsPU
      AjJuBuLEhkOP9Kdn79Jg/Cj7ISGI9qR7Ha7LczehN5AaURFAMlLkH+kMJuEc1W5v
      fHZppuJpLBgEIjBniijd3O+C3o1bmH3NSBZwnvHU3wrPbp0OwBb9IoPJPOceeeTD
      GFR3ImjtmkRDqVAbWbpIg7zHHEMRpaoP1omCRkTVuNxAvxfEdyma/RruR9g5Z0pA
      FGbUGplGzm7BizsHfCEHdwSQqxnxIUVDL5Hw73eGCwIGTR+Os1S1y3aX8QfJPoCx
      ZEa/s2u2qH+AQ1q0XitmX6S+9AXfAgMBAAGjITAfMB0GA1UdDgQWBBTiHVDXtaGl
      1LKGfBSq939OCtd1yzANBgkqhkiG9w0BAQsFAAOCAQEAPuSkvZkAhKlyMxCEJ/cv
      b4CPfyyywNAj6TAMVOSqJofl5UnwF9lncEfjceaipXBDaoQYysCGLqYCt8PrHwm6
      MX3Dyisfq4ES8BstpsCDcW0ENTask1n0pLAsl3QOnTcqOJ2B4EQQic6AM6tcjxvy
      rv9qTmL13w4QdpfY6pkcMK4xNI5YbLpQ9rbJ35GkRLCtj2/kuRTBjSoTzWxFswgd
      56TyWPB3ckGDDLcB5Frrv/biZxjqmRuVyjxwKIPiTmtwzgfy6jTMD6Dlqsf2mYF1
      TlYaktry4NYfuWXmA+uUBYhG+7ygLI4UT3pE7hF/lvzB/4JLgz0s3rrafAnQG8yw
      sw==
      -----END CERTIFICATE-----
       
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN PRIVATE KEY-----
      MIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQCwKNPug7OvdVdG
      HlVqeroLfd5Icix0ugpd/7wslJK4Y1Qk3bHG76daJsPUAjJuBuLEhkOP9Kdn79Jg
      /Cj7ISGI9qR7Ha7LczehN5AaURFAMlLkH+kMJuEc1W5vfHZppuJpLBgEIjBniijd
      3O+C3o1bmH3NSBZwnvHU3wrPbp0OwBb9IoPJPOceeeTDGFR3ImjtmkRDqVAbWbpI
      g7zHHEMRpaoP1omCRkTVuNxAvxfEdyma/RruR9g5Z0pAFGbUGplGzm7BizsHfCEH
      dwSQqxnxIUVDL5Hw73eGCwIGTR+Os1S1y3aX8QfJPoCxZEa/s2u2qH+AQ1q0Xitm
      X6S+9AXfAgMBAAECggEAApoXx0YauVS6XUbFbDUz2keZqOhGz9KPpKPKW742DJMr
      AwBjR9TyW9qGufLuW8GuR8jT5qRudJKOQPB4in0KycMa2tatZkPlZnQzpK/d2Vzk
      7ImsH4nTeWGNqAfml9jnLzZ/hFAc9uqLf/trbjtrSxcNhKKz8iXm3IYO2tF/cGBP
      qxobYMOyg30o2lPJpzqMA9IjxlT2aGz8A6bgzgvK99JKfQC/C3VhcPNahodMCtgZ
      OF2d+zgujXckp8PIgqFrdxMU0q1uui1xkiA6pmM1YPb6BB7JcTNZuX9f7yoWAG/E
      abAycjHOvpT0CqMQZ6IBsY/8L+3sjoZ3fCmOlyVggQKBgQDmvxNMz2C8T5OKQ1ol
      WexjvMDJ+OkFHgXnVP79d5s7DkKgApmjruf0lLhYMeSbeZCHXMMVNyjOW/eufe9U
      EqRBXHnXUj7e9JlrqqJm/YwvXXo0mzOFZ+y0ewZYiHOGgkOhZwiU9NM1d5s441Jj
      peLI8m+/kbw/qlLo5Itl/gtG9wKBgQDDcF3l0ef+l/pcwBo45ReK6WdWM0iPYfvn
      8KNN4EWF/+Fe3dZGCTTRwMq0OK99147Qqm9aH0bEq0S7yGA9fT/Wug2+HDB76ZWN
      RzKPIXBuwylzRnMsRigSKFjpWVlKGbh3rt1KyjCdUsaNu0PcCl4JffWkc0I3e34I
      sBlV1yH2WQKBgCC9jeyBJFWz6NhedCUGnF8OgkBmPBIIz4eibMfkN7dqb5Oqqsgp
      4im3DG0fLzPMTPCX/eo9uGGHdR5iKhpAxuOrTnJ57gfOpxI61O5OHZz+438hYm8U
      buaw6haXzeSRCS2WpAYWsv1MKk8pGiCfgg1HMQn6kL5r2XXIL+tZ35nDAoGAKIq3
      v8PyZzrpobHr/p9vac6PNC+BPtUpp2ygw7fhVDHHc6F7IJ4qSdS/d/FGXkmIA7tH
      TB+u039fy8B+TmMcChQgY65/VEUZU+xQDab3JtLvV01m+Ok4yMN75jQ1tIxvWsx4
      dVpKCWixbZdKNWwlI7zwZwPN2aqRc4XsS4VMM0kCgYBcVW7tD2QOFcnz1Pax+FW6
      czQKfw9KrfstkRzjq8DFYxxVmM4bl8ZbDwmpywvrGTLk/lqyA+Q7aV42Ib1btnv7
      4GCe8THyZr/5+hlhhWordLH/CnBvvT3BbIbAlotmPOne1z5gGqLyjDekwozF4QSw
      mbv3+z0olCJmYqcmuMI/9Q==
      -----END PRIVATE KEY-----
      
container_commands:
  01killhttpd:
    command: "killall httpd"
  02waitforhttpddeath:
    command: "sleep 3"